TensorSpec_env/
TensorSpec_Workspace/
current_problem
Pseudo
qe_workspace
tensorspec_v1
.DS_Store
out
# Python cache files
__pycache__/
*.py[cod]
*$py.class
mock_data_output/
old_working_py/
currentproblem
currentproblem2

# Streamlit local configuration and cache
.streamlit/